<!doctype html>
<html class="mdc-typography">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Admin Page</title>
    <% include ../_css-files %>
</head>
<body>
    <%- include('../titlebarStart', get()) %>

    <div id="cards">
		<div class="mdl-card mdl-shadow--4dp custom-card">
			<div class="mdl-card__supporting-text">
				Permissions test
			</div>
			<div class="mdl-card__actions">
				<a href="/admin/permtest">Goto</a>
			</div>
		</div>
		<div class="mdl-card mdl-shadow--4dp custom-card">
			<div class="mdl-card__supporting-text">
				User Groups
			</div>
			<div class="mdl-card__actions">
				<a href="/admin/usergroups">Goto</a>
			</div>
		</div>
	</div>

    <% include ../titlebarEnd %>
    <% include ../_js-files %>
</body>
</html>
