<!doctype html>
<html class="mdc-typography">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Home</title>
    <% include _css-files %>
</head>
<body>
    <%- include('titlebarStart', get()) %>

    <h1>Hi!</h1>

    <% include titlebarEnd %>
    <% include _js-files %>
</body>
</html>
